.full-width {
    width: 100%;
}

.standard-min-height {
  min-height: 100px;
}

.pediatric-resource-guide-heading {
font-size: 150%;
}

.citation {
    font-size: 75%;
    word-wrap: break-word;
}

.resource-guide-hero-img {
  max-height: 300px;
  position: center center;
}

.featherlight .featherlight-content {
  /*Override of style in main.css specifically for the PDF Customization div*/
  width: 100%;
  max-width: 1200px;
}

#pdf-customization-lightbox {
  /*background: #ffffff;*/

  h3 {
  font-size: 32px;
  }
}

.pdf-customization-tag {
    display: none;
}

.suggested-tag-button {
    background: #ffffff;
    /*color: #1f9cd0; Could be added back depending on the text color we want.*/
    border: 2px solid #1f9cd0;
    border-radius: 20%;
    font-size: 18px;
}

.pdf-customization-input {
    background: #ffffff;
}

/*Pediatric Resource Guide nav CSS
Based off of the Cancer Plan nav CSS */
.pediatric-resource-guide-nav {
    border-top: .5px solid #434d54;
    position: relative; }
    .pediatric-resource-guide-nav a {
      display: block;
      margin-top: 10px;
      color: #434d54;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: .02em;
      line-height: 1.4em; }
    .pediatric-resource-guide-nav .col-lg {
      position: relative;
      padding-left: 10px;
      padding-right: 10px; }
      .pediatric-resource-guide-nav .col-lg:before {
        content: "";
        position: absolute;
        top: -3px;
        left: 10px;
        height: 5px;
        width: 40px;
        transition: width .3s ease; }
      .pediatric-resource-guide-nav .col-lg:hover:before {
        width: 60px; }
      .pediatric-resource-guide-nav .col-lg.diagnosis-defined-link:before {
        background-color: #704289; }
      .pediatric-resource-guide-nav .col-lg.get-started-link:before {
        background-color: #1f9cd0; }
      .pediatric-resource-guide-nav .col-lg.searchable-link:before {
        background-color: #b1e1f5; }
      .pediatric-resource-guide-nav .col-lg.support-all-ages-link:before {
        background-color: #f06543; }
      .pediatric-resource-guide-nav .col-lg.support-young-adults-link:before {
        background-color: #ffc759; }
      .pediatric-resource-guide-nav .col-lg.financial-resources-link:before {
        background-color: #c7d66d; }
      .pediatric-resource-guide-nav .col-lg.travel-housing-link:before {
        background-color: #67911d; }
      .pediatric-resource-guide-nav .col-lg.clinical-trials-link:before {
        background-color: #b9a8ba; }
      .pediatric-resource-guide-nav .col-lg.hospice-bereavement-link:before {
        background-color: #704289; }
      .pediatric-resource-guide-nav .col-lg.fun-link:before {
        background-color: #1f9cd0; }
      .pediatric-resource-guide-nav .col-lg.childrens-camps-link:before {
        background-color: #b1e1f5; }
      .pediatric-resource-guide-nav .col-lg.family-retreats-link:before {
        background-color: #f06543; }
      .pediatric-resource-guide-nav .col-lg.experiences-wishes-link:before {
        background-color: #ffc759; }
      .pediatric-resource-guide-nav .col-lg.k-12-ed-link:before {
        background-color: #c7d66d; }
      .pediatric-resource-guide-nav .col-lg.higher-ed-link:before {
        background-color: #67911d; }
      .pediatric-resource-guide-nav .col-lg.pediatric-advocacy-link:before {
        background-color: #b9a8ba; }

    @media screen and (max-width: 991px) {
      .pediatric-resource-guide-nav .pediatric-resource-guide-title h1 {
        color: #876aa9;
        font-weight: 500;
        font-size: 32px;
        text-align: center; }
        .pediatric-resource-guide-nav .pediatric-resource-guide-title h1 span {
          font-family: "Times New Roman", serif;
          font-style: italic; }
      .pediatric-resource-guide-nav .nav-container {
        overflow: hidden;
        max-height: 0px;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: #EDF2FB;
        transition: max-height .3s ease;
        z-index: 1;
        box-shadow: 0px 48px 43px -48px black; }
        .pediatric-resource-guide-nav .nav-container .container {
          padding: 40px 15px;
          border-top: .5px solid #434d54; }
        .pediatric-resource-guide-nav .nav-container.active {
          max-height: 400px; }
          .pediatric-resource-guide-nav .nav-container.active a {
            background: white;
            border-top: 3px solid;
            min-height: 49px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 5px;
            padding-right: 5px; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg:before {
            display: none; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.diagnosis-defined-link a {
            border-color: #704289; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.get-started-link a {
            border-color: #1f9cd0; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.searchable-link a {
            border-color: #b1e1f5; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.support-all-ages-link a {
            border-color: #f06543; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.support-young-adults-link a {
            border-color: #ffc759; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.financial-resources-link a {
            border-color: #c7d66d; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.travel-housing-link a {
            border-color: #67911d; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.clinical-trials-link a {
            border-color: #b9a8ba; } 
          .pediatric-resource-guide-nav .nav-container.active .col-lg.hospice-bereavement-link a {
            border-color: #704289; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.fun-link a {
            border-color: #1f9cd0; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.childrens-camps-link a {
            border-color: #b1e1f5; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.family-retreats-link a {
            border-color: #f06543; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.experiences-wishes-link a {
            border-color: #ffc759; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.k-12-ed-link a {
            border-color: #c7d66d; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.higher-ed-link a {
            border-color: #67911d; }
          .pediatric-resource-guide-nav .nav-container.active .col-lg.pediatric-advocacy-link a {
            border-color: #b9a8ba; }}
          

.resource-guide-navigation {
  background: #eef2fa;
  overflow-x: hidden; }
  .resource-guide-navigation img {
    transform: translateX(85px);
    max-width: 495px; }
  .resource-guide-navigation h2 {
    margin-bottom: 40px; }
  .resource-guide-navigation .resource-guide-subpages .resource-guide-subpage {
    border-top: 2px solid #cacaca;
    padding: 17px 0px;
    position: relative;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    padding-left: 62px;
    color: #434d54; }
    .resource-guide-navigation .resource-guide-subpages .resource-guide-subpage:last-child {
      border-bottom: 2px solid #cacaca; }
    .resource-guide-navigation .resource-guide-subpages .resource-guide-subpage a {
      color: #434d54; }
      .resource-guide-navigation .resource-guide-subpages .resource-guide-subpage a:hover {
        color: #1a1d1f; }
  .resource-guide-navigation .plus {
    width: 38px;
    height: 38px;
    padding: 8px 0px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0px; }
    .resource-guide-navigation .plus img {
      transform: none; }

/* Plus colors for Pediatric Resource Guide */
.diagnosis-defined-bg {
  background: #704289;
}
.get-started-bg {
  background: #1f9cd0;
}
.searchable-info-bg {
  background: #b1e1f5;
}
.support-all-ages-bg {
  background: #f06543;
}
.support-young-adults-bg {
  background: #ffc759;
}
.financial-resources-bg {
  background: #c7d66d;
}
.travel-housing-bg {
  background: #67911d;
}
.clinical-trials-bg {
  background: #b9a8ba;
}
.hospice-bereavement-bg {
  background: #704289;
}
.fun-bg {
  background: #1f9cd0;
}
.childrens-camps-bg {
  background: #b1e1f5;
}
.family-retreats-bg {
  background: #f06543;
}
.experiences-wishes-bg {
  background: #ffc759;
}
.k-12-ed-bg {
  background: #c7d66d;
}
.higher-ed-bg {
  background: #67911d;
}
.pediatric-advocacy-bg {
  background: #b9a8ba;
}

.parent-cta {
  background: url("../img/ET_ParentsBanner.png");
  background-size: cover;
  background-position: right;
  margin-top: 0px; }
  .parent-cta ul {
    margin-top: 34px; }
    .parent-cta ul .icon-list:before {
      color: #b1e1f5; }

.cancer-plan.parent-cta .box-graphic {
  padding: 30px 19px;
  font-size: 3.5em;
  max-width: none;
  height: auto;
  color: #b1e1f5;
  border: 2px solid #b1e1f5; }
  .cancer-plan.parent-cta .box-graphic .small-text {
    font-size: 21px;
    margin-top: 26px;
    margin-bottom: 14px; }



.educator-cta {
      background: url("../img/ET_EducatorsBanner.png");
      background-size: cover;
      background-position: right;
      margin-top: 0px; }
  .educator-cta ul {
        margin-top: 34px; }
    .educator-cta ul .icon-list:before {
          color: #b1e1f5; }
    
.cancer-plan.educator-cta .box-graphic {
      padding: 30px 19px;
      font-size: 3.5em;
      max-width: none;
      height: auto;
      color: #b1e1f5;
      border: 2px solid #b1e1f5; }
  .cancer-plan.educator-cta .box-graphic .small-text {
        font-size: 21px;
        margin-top: 26px;
        margin-bottom: 14px; }

